extends layout

block content
  my-app
  h1 InstagramBot
  .row
  if user
   .card.col-sm-4.card-info
    img.card.img-top(src=user.profile_picture)
    .card-block
     h2.card-title=user.username
     p.card-text.white-space-pre.blockquote=user.bio

   p= user.username
  else
   .col-sm-8
    h1.text-primary text-primary
    button.btn.btn-success btn-success
    a(href="/auth/instagram") Login with Instagram


